@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
color palettes:
grijs: #899CA0
donkergroen: #1C2B32
*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global settings */
body {
    font-family: Poppins, sans-serif;
    color: #1C2B32
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1 {
    font-weight: 600;
    font-size: 120px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    margin: 64px 0;
    text-align: center;
}

.footer-copyright {
    font-size: 14px;
    color: #FFF;
}

input,
button {
    font-family: inherit;
    font-size: 18px;
}

.header-button {
    color: #FFF;
}

.header-button:hover {
    color: #1C2B32;
}

.support-button {
    color: #FFF;
    font-size: 14px;
}

.support-button:hover {
    color: #FFF;
    cursor: pointer;
}

a,
a:link,
a:visited {
    color: #899CA0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.faq-foldable {
    color: #FFF;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: top;

}

.header-content {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 200px 0 400px 0;
}

.header-input {
    margin-top: 32px;
    margin-right: -6px;
    border: 2px solid #1C2B32;
    border-radius: 64px 0 0 64px;
    width: 350px;
    padding: 24px 32px;
    background-color: transparent;
    color: #1C2B32;
    outline: transparent;
}

.header-input::placeholder {
    color: #1C2B32;
}

.header-input:focus::placeholder {
    color: transparent;
}

.header-button {
    margin-top: 32px;
    border: 2px solid #1C2B32;
    border-radius: 0 64px 64px 0;
    padding: 24px 32px;
    background-color: #1C2B32;
    outline: none;
}

.header-button:hover {
    background-color: #899CA0;
}

/*///////////// 3.2 Testimonial /////////////*/

.testimonial-section {
    margin: 64px 0;
}

.testimonial-article {
    margin: 64px 0;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 64px 96px 64px 148px;
    position: relative;
}

.testimonial-icon-quote {
    position: absolute;
    left: 96px;
    top: 64px;

}

.testimonial-blockquote {
    margin-bottom: 24px;
}

.testimonial-avatar {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.testimonial-name {
    display: inline;
    font-style: italic;
    margin-left: 24px
}

/*///////////// 3.3 Support /////////////*/

.support-section {
    margin: 64px 0;
}

.support-image {
    width: 100%;
    border-radius: 16px;
}

.support-info {
    margin: 24px 0;

}

.support-button {
    border: 2px solid #1C2B32;
    border-radius: 64px;
    padding: 24px 32px;
    background-color: #1C2B32;
    outline: none;
}

.support-button:hover {
    background-color: #899CA0;
}

/*///////////// 3.4 Faq /////////////*/

.faq-section {
    margin: 64px 0;
}

.faq-details {
    margin-block: 24px;
}

.faq-foldable {
    padding: 24px 32px;
    background-color: #899CA0;
    border-radius: 12px;
}

.faq-summary {
    margin-bottom: 12px;
}

.faq-summary:hover {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/

footer {
    background-color: #1C2B32;
    padding-block: 32px;
}

.footer-copyright {
    text-align: center;
}